.main{
	position: fixed;
	top:100px;
}
footer {
    text-align: center; 
    width: 100%;
}
footer p {
    margin-left: 5px;
    display: inline-block;
    font-size: 0.85em;
    position: relative;
    bottom: 5px;
}
footer object {
    width: 25px;
}
